{% extends 'blog/base.html' %}

{% block content %}

<form action="{% url 'add-stock' %}" method="POST">
      {% csrf_token %}
      <div class="form-group"></div>
            <label >Symbol:</label>
            <input type="text" class="form-control" placeholder="Stock Symbols like GOOG, MSFT etc" name="symbol">
            <input class="btn btn-success m-3 " type="submit" value="Add Stock" name="addStock"> 
            <small class="text-muted">(If the request exceeds 5 per min the site might take between 15 second to 1 minute to load)</small> 
      </div>
</form>


{% endblock content %}